* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@page {
  size: A4;
  margin: 0;
}
body {
  position: relative;
}
/*-------------------------- add text popup --------------------------*/
.inputDiv {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  padding: 8px;
  width: 260px;
  height: 80px;
  position: fixed;
  top: calc(25% - 40px);
  left: calc(50% - 130px);
  z-index: 1;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.displayInput {
  display: flex;
}
.opacityInput {
  opacity: 1;
}
#textInput {
  outline: none;
  border: none;
  padding: 6px;
  border-radius: 0.2rem;
}
#addText {
  background-color: lightgreen;
  outline: none;
  border: none;
  padding: 6px;
  margin-left: 3px;
  border-radius: 0.2rem;
}
#addText:hover {
  background-color: rgb(163, 240, 163);
}

/*-------------------------- main --------------------------*/
.main {
    display: flex;
    flex-direction: row;
}

/*-------------------------- toolbar --------------------------*/
.toolbar {
    background-color: lightblue;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    position: fixed;
    width: 20vw;
    height: 100%;
    padding: 8px;
}
#title {
  margin: 1.5rem 0;
  text-align: center;
}
.tools {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 80px;
  height: 80px;
  border-radius: 16%;
}
.item:hover {
  background-color: lightcoral;
}
.selected {
  background-color: lightgreen;
}

/*-------------------------- work space --------------------------*/
.work {
    width: 80vw;
    margin-left: 20vw;
}
.main-page {
  width: 210mm;
  height: 297mm;
  min-height: 297mm;
  margin: 10mm auto;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}
.draw {
  width: 100%;
  height: 100%;
}