* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  position: relative;
  font-family: Arial, sans-serif;
}
/*-------------------------- add text popup --------------------------*/
.inputDiv {
  display: none;
  background-color: lightblue;
  width: 260px;
  height: 80px;
  position: fixed;
  top: calc(25% - 40px);
  left: calc(50% - 130px);
  z-index: 1;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.displayInput {
  display: block;
}
.opacityInput {
  opacity: 1;
}
.innerInput {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
#textInput {
  border: none;
  padding: 6px;
  border-radius: 0.2rem;
}
#textInput:focus {
  outline: 2px solid rgb(48, 200, 255);
}
#submit {
  background-color: rgb(198, 230, 241);
  border: none;
  padding: 6px;
  margin-left: 3px;
  border-radius: 0.2rem;
}
#submit:focus {
  outline: 2px solid rgb(48, 200, 255);
}
#submit:hover {
  background-color: rgb(255, 184, 184);
  cursor: pointer;
}
#closeText {
  line-height: 0.5;
  position: absolute;
  top: 2px;
  right: 0;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.2s ease-in;
}
#closeText:hover,
#closeText:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*-------------------------- main --------------------------*/
.main {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

/*-------------------------- toolbar --------------------------*/
.toolbar {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: lightblue;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  overflow: auto;
  min-width: 260px;
  width: 24vw;
  height: 100vh;
  padding: 16px;
}
.helpDiv {
  text-align: end;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.questionMarkAnchor {
  display: inline-block;
  margin: 8px;
  width: 30px;
  height: 30px;
}
.questionMark {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(198, 230, 241);
  transition: all 0.1s ease-in;
}
.questionMark:hover {
  background-color: rgb(255, 184, 184);
}
#title {
  font-weight: bolder;
  margin: 20px 20px 1.5rem 0;
  text-align: center;
}
h3 {
  margin: 6px 0;
}
.toolbarItems {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
.drawTools {
  background-color: rgb(198, 230, 241);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.componentParent {
  width: 100%;
  min-height: 300px;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 0.5rem;
  -moz-box-shadow:    inset 0 0 10px #555;
  -webkit-box-shadow: inset 0 0 10px #555;
  box-shadow:         inset 0 0 10px #555;
}
.components {
  padding: 12px;
  overflow: auto;
  height: 100%;
}
.item {
  padding: 4px;
  margin: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
}
.item:hover {
  cursor: pointer;
  background-color: rgb(255, 184, 184);
  
}
.tool {
  width: 80px;
  height: 80px;
}
h4 {
  margin-top: 8px;
}
section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4px;
  width: 70px;
  height: 70px;
    border-radius: 0.5rem;
}
.component:hover {
  cursor: pointer;
  background-color: rgb(255, 184, 184);
  
}
.selected {
  /* important enough to override hover */
  background-color: lightcoral !important;
}
p {
  text-align: center;
  padding: 4px 0;
}

/*-------------------------- work space --------------------------*/
.workArea {
  height: 100vh;
  padding: 24px;
  overflow: auto;
  flex-grow: 1;
}
.workSpace {
  width: 215.9mm;
  height: 279.4mm;
  min-height: 279.4mm;
  margin: 0 auto;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}